<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/hidratantes.css">
    <title>Hidratantes</title>
</head>
<body>
    <header>
        <div>
            <h1>A Botanista</h1>
        </div>
    </header>

    <div class="navbar">
        <a href="#home">Home</a>
        <div class="subnav">
          <button class="subnavbtn">Hidratantes <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#Corpo">Corpo</a>
            <a href="#Pés">Pés</a>
            <a href="#Mãos">Mãos</a>
          </div>
        </div>
        <div class="subnav">
          <button class="subnavbtn">Perfumes <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#Feminino">Feminino</a>
            <a href="#Masculino">Masculino</a>
            <a href="#Unisex">Unissex</a>
            <a href="#Infantil">Infantil</a>
          </div>
        </div>
        <div class="subnav">
          <button class="subnavbtn">Monte seu Kit <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#Kits Masculinos">Kits Masculinos</a>
            <a href="#Kits Femininos">Kits Femininos</a>
            <a href="#kits Infantis">kits Infantis</a>
          </div>
        </div>
        <a href="#contact">Carrinho</a>
        <!-- <img src="./img/menu-hamburguer.jpg" alt="Icone menu"> -->
      </div>
      
        <div class="container lado-lado">
            <aside>
                <div class="vertical-menu">
                    <a href="#" class="active">Hidratantes</a>
                    <a href="#">Rosto</a>
                    <a href="#">Mãos</a>
                    <a href="#">Corpo</a>
                    <a href="#">Pés</a>
                  </div>
                  <br />
                  <div class="vertical-menu">
                    <a href="#" class="active">Tipos de Pele</a>
                    <a href="#">Pele Seca</a>
                    <a href="#">Pele Normal</a>
                    <a href="#">Pele Sensível</a>
                    <a href="#">Pele de Todos os Tipos</a>
                  </div>
                  
            </aside>
    
            <main>
                <div class="produto">
                    <h3>Hidratante 1</h3>
                    <img src="../public/images/Produtos.png" alt="Imagem do produto">
                    <h5>Hidratante pele Seca</h5>
                    <p>Foi especialmente desenvolvida para cuidar da pele ressecada. Protege a pele e reduz o ressecamento logo na primeira aplicação.</p>
                    <div class="controles">
                        <div class="info-preco">
                            <span class="preco"><b>R$ 100,00</b></span>
                            <span class="parcelamento">
                            <span>4x</span>
                                de 
                                <span>25,00</span>
                            </span>
                        </div>
                        <button class="btn success">Comprar</button>
                        </a>
                    </div>
                </div>

                <div class="produto">
                    <h3>Hidratante 2</h3>
                    <img src="../public/images/Produtos.png" alt="Imagem do produto">
                    <h5>Hidratante Pele Sensível</h5>
                    <p>Hidratante Desodorante Corporal Morango e Leite tem hidratação poderosa, fórmula com extratos naturais e uma fragrância deliciosa.</p>
                    <div class="controles">
                        <div class="info-preco">
                            <span class="preco"><b>R$ 100,00</b></span>
                            <span class="parcelamento">
                            <span>4x</span>
                                de 
                                <span>25,00</span>
                            </span>
                        </div>
                        <button class="btn success">Comprar</button>
                        </a>
                    </div>
                </div>
                            
                <div class="produto">
                    <h3>Hidratante 3</h3>
                    <img src="../public/images/Produtos.png" alt="Imagem do produto">
                    <h5>Hidratante pele Normal</h5>
                    <p>Hidratante Pele Normal descomplica o cuidado com a pele do rosto. Limpa profundamente, revela instantaneamente a luminosidade da pele.</p>
                    <div class="controles">
                        <div class="info-preco">
                            <span class="preco"><b>R$ 100,00</b></span>
                            <span class="parcelamento">
                            <span>4x</span>
                                de 
                                <span>25,00</span>
                            </span>
                        </div>
                        <button class="btn success">Comprar</button>
                        </a>
                    </div>
                </div>
            </main>
        </div>


<footer>
    
</footer>
</body>
</html>