<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/loja.css">
    <title>Produtos - A Botanista</title>
</head>
<body>
    <header>
        <div>
            <h1>A Botanista</h1>
        </div>
    </header>

    <div class="navbar">
        <a href="/">Home</a>
        <div class="subnav">
          <button class="subnavbtn">Hidratantes<i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="/hidratantes">Corpo</a>
            <a href="/hidratantes">Pés</a>
            <a href="/hidratantes">Mãos</a>
          </div>
        </div>
        <div class="subnav">
          <button class="subnavbtn">Perfumes <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="/perfumes">Feminino</a>
            <a href="/perfumes">Masculino</a>
            <a href="/perfumes">Unissex</a>
            <a href="/perfumes">Infantil</a>
          </div>
        </div>
        <div class="subnav">
          <button class="subnavbtn">Monte seu Kit <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#Kits Masculinos">Kits Masculinos</a>
            <a href="#Kits Femininos">Kits Femininos</a>
            <a href="#kits Infantis">kits Infantis</a>
          </div>
        </div>
        <a href="/carrinho">Carrinho</a>
        <!-- <img src="./img/menu-hamburguer.jpg" alt="Icone menu"> -->
      </div>
      
        <div class="container lado-lado">
            <aside>
                <div class="vertical-menu">
                    <a href="#" class="active">Gênero</a>
                    <a href="#">Masculino</a>
                    <a href="#">Feminino</a>
                    <a href="#">Unissex</a>
                    <a href="#">Infantil</a>
                  </div>
                  <br />
                  <div class="vertical-menu">
                    <a href="#" class="active">Produtos</a>
                    <a href="/hidratantes">Hidratantes</a>
                    <a href="/perfumes">Perfumaria</a>
                    <a href="#">Monte seu Kit</a>
                  </div>
                  
            </aside>
    
            <main>
                <div class="produto">
                    <h3>Hidratantes</h3>
                    <img src="images/Produtos.png" alt="Imagem do produto">
                    <div class="controles">
                        <div>
                        </div>
                        </a>
                    </div>
                </div>

                <div class="produto">
                  <h3>Perfumes</h3>
                  <img src="images/Perfume M.jpg" alt="Imagem do produto">
                  <div class="controles">
                      <div>
                      </div>
                      </a>
                  </div>
              </div>
                          
              <div class="produto">
                <h3>Monte seu Kit</h3>
                <img src="images/Produtos.png " alt="Imagem do produto">
                <div class="controles">
                    <div>
                    </div>
                    </a>
                </div>
            </div>
        </main>
        </div>

        <%- include("./partials/footer") %> 