<!doctype html>
<html lang="pt">
  <head>
    <title>a botanista</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/perfil.css">  
  </head>


  <body>

    <header>
      <div>
        <h1>botanista</h1>
      </div>
    </header>

    <nav>  
      <a class="navegacao" href="/perfil">perfil</a>
      <a class="navegacao" href="/carrinho">carrinho</a>
      <a class="navegacao" href="/pesquisar">pesquisar</a>
      <a class="navegacao" href="/produtos">produtos</a>
      <a class="navegacao" href="/quizz">quizz</a>
      <a class="navegacao" href="/sobre nós">sobre nós</a>
      <a class="navegacao" href="/contato">contato</a>     
  </nav>

    <div class="container-pai">                  
    <div class="row">
        <div class="col-6">
            <div class="container">
                <img src="../public/images/undraw_profile_pic_ic5t.png" alt="">
                </div>
            <h4>olá, fulano!</h4>  
            <h3>informações da conta</h3>  
            <p>nome completo</p>
            <p>email@email.com.br</p>
            <p>01/01/2020</p>
            <p>senha</p>            
        </div>

        <div class="col-6">     
            <h3>histórico de pedidos</h3>  
            <a class="perfil" href="/pedido1">pedido 1</a>
            <p>01/01/2020</p>
            <a class="perfil" href="/pedido2">pedido 2</a>
            <p>01/01/2020</p>
            <h3>endereços</h3>  
            <a class="perfil" href="/endereço1">casa</a> <br>          
            <a class="perfil" href="/endereço2">trabalho</a> <br>
            <h3>métodos de pagamento</h3> 
            <a class="perfil" href="/cartao1">cartão 1</a> <br>               
            <a class="perfil" href="/cartao2">cartão 2</a>
        </div>
    </div>
    </div>  
             
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

  
</html>