<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/Perfumes.css">
    <title>Perfumes</title>
</head>
<body>
    <header>
        <div>
            <h1>A Botanista</h1>
        </div>
    </header>

    <div class="navbar">
        <a href="#home">Home</a>
        <div class="subnav">
          <button class="subnavbtn">Hidratantes <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#Corpo">Corpo</a>
            <a href="#Pés">Pés</a>
            <a href="#Mãos">Mãos</a>
          </div>
        </div>
        <div class="subnav">
          <button class="subnavbtn">Perfumes <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#Feminino">Feminino</a>
            <a href="#Masculino">Masculino</a>
            <a href="#Unissex">Unissex</a>
            <a href="#Infantil">Infantil</a>
          </div>
        </div>
        <div class="subnav">
          <button class="subnavbtn">Monte seu Kit <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#Kits Masculinos">Kits Masculinos</a>
            <a href="#Kits Femininos">Kits Femininos</a>
            <a href="#kits Infantis">kits Infantis</a>
          </div>
        </div>
        <a href="#contact">Carrinho</a>
            <!-- <img src="./img/menu-hamburguer.jpg" alt="Icone menu"> -->
      </div>
      
        <div class="container lado-lado">
            <aside>
                <div class="vertical-menu">
                    <a href="#" class="active">Perfumes</a>
                    <a href="#">Feminino</a>
                    <a href="#">Masculino</a>
                    <a href="#">Unissex</a>
                    <a href="#">Infantil</a>
                  </div>
                  <br />
                  <div class="vertical-menu">
                    <a href="#" class="active">Família Olfativa</a>
                    <a href="#">Amadeirado</a>
                    <a href="#">Floral</a>
                    <a href="#">Cítrico</a>
                    <a href="#">Frutal</a>
                  </div>
            </aside>
    
            <main>
                <div class="produto">
                    <h3>Marca 1</h3>
                    <img src="../public/images/Perfume M.jpg" alt="Imagem do produto">
                    <h5>Perfume Amadeirado</h5>
                    <p>Marca 1 é uma fragrância masculina da família das Amadeiradas. É única e desenvolvida através de um processo de fabricação exclusivo no mundo. </p>
                    <br>
                    <div class="controles">
                        <div class="info-preco">
                            <span class="preco"><b>R$ 200,00</b></span>
                            <span class="parcelamento">
                            <span>4x</span>
                                de 
                                <span>50,00</span>
                            </span>
                        </div>
                        <button class="btn success">Comprar</button>
                        </a>
                    </div>
                </div>

                <div class="produto">
                    <h3>Marca 2</h3>
                    <img src="../public/images/Perfume M.jpg" alt="Imagem do produto">
                    <h5>Perfume Cítrico</h5>
                    <p>Marca 2 Desodorante Colônia é uma fragrância feminina fresca que combina notas cítricas e amadeiradas. Perfeita para usar o dia todo em todas ocasiões!</p>
                    <br>
                    <div class="controles">
                        <div class="info-preco">
                            <span class="preco"><b>R$ 200,00</b></span>
                            <span class="parcelamento">
                            <span>4x</span>
                                de 
                                <span>50,00</span>
                            </span>
                        </div>
                        <button class="btn success">Comprar</button>
                        </a>
                    </div>
                </div>
                            
                <div class="produto">
                    <h3>Marca 3</h3>
                    <img src="../public/images/Perfume M.jpg" alt="Imagem do produto">
                    <h5>Perfume Floral</h5>
                    <p>Marca 3 traz o exclusivo Lírio de Grasse, cultivado na França. Uma flor especial que precisa de cuidado no cultivo e que, apesar da extrema delicadeza. </p>
                    <br>
                    <div class="controles">
                        <div class="info-preco">
                            <span class="preco"><b>R$ 200,00</b></span>
                            <span class="parcelamento">
                            <span>4x</span>
                                de 
                                <span>50,00</span>
                            </span>
                        </div>
                        <button class="btn success">Comprar</button>
                        </a>
                    </div>
                </div>
            </main>
        </div>


<footer>
    
</footer>
</body>
</html>