<!DOCTYPE html>
<head>
    <meta charset="UTF-8">    
    <title>A Botanista</title>
    <link href="../public/css/sobreNos.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div id="logo">
            <img id="logoImg" src="../public/images/logo.png">
            <h1 id="tituloLogo">Botanista</h1>
        </div>
        <div id="menu">
            <ul class="lista">
                <li><a href="sobre.html">Sobre Nós</a></li>
                <li><a id="menuAtual" href="index.html">Receitas</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </div>
    </div>
    
    <div id="content">
        <div id="promotionBanner">
            <h1 id="promocaoH1">Produtos naturais!</h1>
            <h2 id="promocaoValor">Cosméticos</h1>
        </div>
        <div id="maisVendidos">
            <h1 id="tituloConteudo">Sobre Nós</h1>
                            <p class="prima">Não somos apenas uma loja online. É toda uma comunidade de pessoas que fazem escolhas de saúde. Uma empresa jovem, em desenvolvimento, que vende cosméticos a partir de produtos naturais. Nós apenas confiamos nos melhores fabricantes de cosméticos. A nossa gama inclui produtos com certificação ecológica dos principais fabricantes de cosméticos naturais. Série cosmética baseada em ervas e plantas naturais,  criado para quem valoriza a naturalidade, segurança e facilidade de uso! Em nosso blog, descrevemos em detalhes os benefícios ou malefícios de ingredientes individuais, ajudamos você a entender as nuances da composição e apresentamos as certificações mais importantes no mundo dos cosméticos orgânicos.</p>
                    <p>Também oferecemos receitas de cosméticos que você pode fazer em casa. As receitas sempre indicam a composição detalhada dos cosméticos, instruções detalhadas de como fazer o produto desejado, a ação dos princípios ativos é descrita e as recomendações de uso são selecionadas.</p>
<p><b>Os produtos "caseiros" tem muitas vantagens sobre os produtos comprados:</b></p>
   <ul id="conta"> 
    <li>Segurança. O produto, feito à mão, contém ingredientes naturais que têm um efeito benéfico nas células da epiderme. Neste caso, os componentes são selecionados levando em consideração as características da pele. Este produto não contém parabenos e outros componentes químicos, portanto não causará reação alérgica ou irritação na pele.</li>
    <li>Componentes. O creme pode ser preparado tendo em conta as tarefas (hidratação, nutrição, cicatrização), acrescentando apenas os ingredientes necessários.</li>
    <li>Frescura. O creme caseiro é fácil de preparar em questão de minutos. Está sempre fresco e pode ser usado durante vários dias ou dois a três meses.</li>
    <li>Diversidade. O processo é criativo e divertido. Uma grande seleção de matérias-primas e receitas permite fazer em casa uma variedade de cosméticos, levando em consideração as necessidades específicas da pele no momento.</li>
    <li>Preço. O creme de mãos caseiro supera o comprado em loja não só em termos de eficácia, mas também em termos de preço.</li>
   </ul>
Se você é uma pessoa que se preocupa com saúde e beleza, e também valoriza o seu tempo e dinheiro, então nossa loja é o que você precisa!</p>
   
<%- include("./partials/footer") %> 