body {
  margin: 0 7%;
  color: #2F3E21;
  }

header {
  box-sizing: border-box;
  background: url(../images/fundo-decorativo-de-folhas-tropicais-verdes_52683-18995semescrito.jpg);
  color: white;
  text-align: center;
}

nav {
  margin: 1% 1%;
  display: flex;
  justify-content: space-between;
  color: gray;
}

.navegacao {
  color: gray;
  align-content: center;
}

.container-pai {
  border: solid 6px #BBFFBB;
  padding: 1% 7%;
  margin: 2% 0;
}


p {
  font-size: x-large;
}

.perfil {
  font-size: x-large;
  color: #2F3E21; 
  }

  footer{
    padding: 10px;
    background-image: url(../images/fundo.jpeg);
    color:#FFF;
    margin-top: auto;
    box-sizing: border-box;
      box-shadow: 0 0 8px 0 black;
  }