header{
	box-sizing: border-box;
    box-shadow: 0 0 8px 0 black;
    background-image:url(../img/fundo.jpeg);
    text-align: center;
    height: 60px;
	color: white;
	font-size: large;
}

* {
	box-sizing: border-box;
}

.navbar {
	overflow: hidden;
	background-color: rgb(30, 196, 102);
  }
  
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .subnav {
	float: left;
	overflow: hidden;
  }
  
  .subnav .subnavbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
	background-color: rgb(153, 221, 182);
  }
  
  .subnav-content {
	display: none;
	position: absolute;
	left: 0;
	background-color:  rgb(153, 221, 182);
	width: 100%;
	z-index: 1;
  }
  
  .subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
  }
  
  .subnav-content a:hover {
	background-color: #eee;
	color: black;
  }
  
  .subnav:hover .subnav-content {
	display: block;
  }

body {
    margin: 0 0;
    color: #2F3E21;
    height: 100%;
    }


.container-pai {
    text-align: justify;
    padding: 1% 7%;
    margin: 1% 0;
}


p {
    font-size: x-large;
}

.perfil {
    font-size: x-large;
    color: #2F3E21; 
    }

    footer{
        padding: 10px;
        background-image: url(../img/fundo.jpeg);
        color:#FFF;
        margin-top: auto;
        box-sizing: border-box;
        box-shadow: 0 0 8px 0 black;
    }